@inject ISiriLazor siriLazor;
@implements IAsyncDisposable;
@namespace SiriLazor.UI

<div @ref="siriContainer"></div>

@code {

    public ElementReference siriContainer { get; set; }

    [Parameter]
    public double? Ratio { get; set; }

    [Parameter]
    public double? Speed { get; set; }

    [Parameter]
    public double? Amplitude { get; set; }

    [Parameter]
    public bool? Cover { get; set; }

    [Parameter]
    public double? Width { get; set; }

    [Parameter]
    public double? Height { get; set; }

    [Parameter]
    public bool? Autostart { get; set; }

    [Parameter]
    public double? PixelDepth { get; set; }

    [Parameter]
    public double? LerpSpeed { get; set; }

    [Parameter]
    public IOS9WaveRanges? iOS9Ranges { get; set; }

    [Parameter]
    public IEnumerable<IOS9WaveCurveDefintion>? Definitions { get; set; }

    [Parameter]

    public string? GlobalCompositeOperation { get; set; }

    [Parameter]
    public bool SetDefaultOptions { get; set; }


    SiriObject? SiriObject { get; set; }
    IOptions<IOS9WaveCurveDefintion>? opt;


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var builder = new IOS9WaveOptionBuilder();
            if (SetDefaultOptions)
            {
                builder.GetDefaultOptions(siriContainer);
            }
            else
            {
                builder.SetContainer(siriContainer)
                .SetAmplitude(Amplitude)
                .SetRatio(Ratio)
                .SetWidth(Width)
                .SetHeight(Height)
                .SetAutostart(Autostart)
                .SetPixelDepth(PixelDepth)
                .SetLerpSpeed(LerpSpeed)
                .SetCover(Cover)
                .SetDefinitions(Definitions?.ToList())
                .SetGlobalCompositeOperation(GlobalCompositeOperation);
            }

            opt = builder.Build();
            SiriObject = await siriLazor.InitSiriLazor(opt);
        }

    }

    /// <summary>
    /// Stops the SiriWave animation.
    /// </summary>
    public async Task Stop()
    {
        await SiriObject!.StopAnimation();
    }

    /// <summary>
    /// Starts the SiriWave animation.
    /// </summary>
    public async Task Start()
    {
        await SiriObject!.StartAnimation();
    }

    /// <summary>
    /// Sets the speed of the SiriWave animation.
    /// </summary>
    /// <param name="value">The new speed value.</param>
    public async Task SetSpeed(double value)
    {
        await SiriObject!.SetSpeed(value);
    }

    /// <summary>
    /// Sets the amplitude of the SiriWave animation.
    /// </summary>
    /// <param name="value">The new amplitude value.</param>
    public async Task SetAmplitude(double value)
    {
        await SiriObject!.SetAmplitude(value);
    }

    /// <inheritdoc/>
    public async ValueTask DisposeAsync()
    {
        await SiriObject!.DisposeAsync();
    }
}
